<h1> hi! please enter your name and birthday! </h1>


<form action="/user-details" method="post">
    <label for="name">Enter your name: </label>
    <input type="text" name="name" id="name" >
    <br>
    # <label for="birthday">Enter your birthday: </label>
    <br>
    <input type="text" name="date" id="date" >
    <input type="text" name="month" id="month" >
    <br>
    <input type="submit" value="Submit!">
</form>
